.small-button {
  max-width: 171px;
  height: 39.594px;
  align-self: end;
}

.emoji-button {
  max-width: 4.4em;
  min-width: 2.2em !important;
  height: 39.594px;
  align-self: end;
  line-height: 1em;
  border-radius: 0.5em;
  flex: none;
}

.model-saver {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center horizontally */
  max-width: 1000px;
  max-height: 750px;
  overflow-y: scroll !important;
  background-color: var(--input-background-fill);
  border: 2px solid black !important;
  z-index: 1000;
}

.dark .model-saver {
  border: 2px solid white !important;
}